<div id="commonInfoDiv">
    <b>Electronics: </b> Layout of Electronics module is rendered with the help of Areas feature by adding _ViewStart in Views folder and specific Layout file in Shared folder.
</div>