<div id="commonInfoDiv">
    <b>Home: </b>Layout of Home module is rendered using _ViewStart file and _Layout.cshtml file.
    <br />
    <br />
    <i>In this demo we will see how to define layout page (master page) in different ways:</i>
    <ul>
        <li>Default way: Using _ViewStart file and _Layout.cshtml</li>
        <li>Define Layout in ActionResult</li>
        <li>Define Layout in Content Page</li>
        <li>Define Layout for a directory</li>
        <li>Define Layout for an Area</li>
    </ul>
</div>
